In [259]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans 
%matplotlib inline

In [293]:
df = pd.read_csv("pojet-ml/train.csv")

In [295]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17996 entries, 0 to 17995
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Artist Name         17996 non-null  object
 1   Track Name          17996 non-null  object
 2   Popularity          17568 non-null  float64
 3   danceability        17996 non-null  float64
 4   energy              17996 non-null  float64
 5   key                 15982 non-null  float64
 6   loudness            17996 non-null  float64
 7   mode                17996 non-null  int64
 8   speechiness         17996 non-null  float64
 9   acousticness        17996 non-null  float64
 10  instrumentalness    13619 non-null  float64
 11  liveness            17996 non-null  float64
 12  valence             17996 non-null  float64
 13  tempo               17996 non-null  float64
 14  duration_in min/ms  17996 non-null  float64
 15  time_signature      17996 non-null  int64
 16  Class               17996 non-null  int64
dtypes: float64(12), int64(3), object(2)
memory usage: 2.3+ MB

In [297]:
df
missing_data = df.isnull()
missing_data[0:10]

,Artist Name,Track Name,Popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_in min/ms,time_signature,Class
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False

In [309]:

for column in missing_data.columns.values.tolist():
   
    print(column)
    print (missing_data[column].value_counts())
    print("")

Artist Name
Artist Name
False    17996
Name: count, dtype: int64

Track Name
Track Name
False    17996
Name: count, dtype: int64

Popularity
Popularity
False    17568
True       428
Name: count, dtype: int64

danceability
danceability
False    17996
Name: count, dtype: int64

energy
energy
False    17996
Name: count, dtype: int64

key
key
False    15982
True      2014
Name: count, dtype: int64

loudness
loudness
False    17996
Name: count, dtype: int64

mode
mode
False    17996
Name: count, dtype: int64

speechiness
speechiness
False    17996
Name: count, dtype: int64

acousticness
acousticness
False    17996
Name: count, dtype: int64

instrumentalness
instrumentalness
False    13619
True      4377
Name: count, dtype: int64

liveness
liveness
False    17996
Name: count, dtype: int64

valence
valence
False    17996
Name: count, dtype: int64

tempo
tempo
False    17996
Name: count, dtype: int64

duration_in min/ms
duration_in min/ms
False    17996
Name: count, dtype: int64

time_signature
time_signature
False    17996
Name: count, dtype: int64

Class
Class
False    17996
Name: count, dtype: int64

In [337]:
df.head();
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17996 entries, 0 to 17995
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Artist Name         17996 non-null  object
 1   Track Name          17996 non-null  object
 2   Popularity          17568 non-null  float64
 3   danceability        17996 non-null  float64
 4   energy              17996 non-null  float64
 5   key                 15982 non-null  float64
 6   loudness            17996 non-null  float64
 7   mode                17996 non-null  int64
 8   speechiness         17996 non-null  float64
 9   acousticness        17996 non-null  float64
 10  instrumentalness    13619 non-null  float64
 11  liveness            17996 non-null  float64
 12  valence             17996 non-null  float64
 13  tempo               17996 non-null  float64
 14  duration_in min/ms  17996 non-null  float64
 15  time_signature      17996 non-null  int64
 16  Class               17996 non-null  int64
dtypes: float64(12), int64(3), object(2)
memory usage: 2.3+ MB

In [341]:

df['mode'] = df['mode'].astype(float)
df['time_signature'] = df['time_signature'].astype(float)
df['Class'] = df['Class'].astype(float)

In [343]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17996 entries, 0 to 17995
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Artist Name         17996 non-null  object
 1   Track Name          17996 non-null  object
 2   Popularity          17568 non-null  float64
 3   danceability        17996 non-null  float64
 4   energy              17996 non-null  float64
 5   key                 15982 non-null  float64
 6   loudness            17996 non-null  float64
 7   mode                17996 non-null  float64
 8   speechiness         17996 non-null  float64
 9   acousticness        17996 non-null  float64
 10  instrumentalness    13619 non-null  float64
 11  liveness            17996 non-null  float64
 12  valence             17996 non-null  float64
 13  tempo               17996 non-null  float64
 14  duration_in min/ms  17996 non-null  float64
 15  time_signature      17996 non-null  float64
 16  Class               17996 non-null  float64
dtypes: float64(15), object(2)
memory usage: 2.3+ MB

In [351]:
df["Artist Name"].value_counts()

Artist Name
Backstreet Boys                       69
Westlife                              60
Britney Spears                        54
Eyal Golan                            48
Omer Adam                             48
                                      ..
sleep.ing, Faber Drive, Dave Faber     1
Showbiz & A.G.                         1
Slowdonia                              1
KillRadio                              1
Ofenbach                               1
Name: count, Length: 9149, dtype: int64

In [353]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

             Artist Name                             Track Name
0             Bruno Mars  That's What I Like (feat. Gucci Mane)
1                 Boston                           Hitch a Ride
2          The Raincoats                     No Side to Fall In
3                   Deno             Lingo (feat. J.I & Chunkz)
4  Red Hot Chili Peppers      Nobody Weird Like Me - Remastered

In [377]:
obj_df["Artist Name"] = obj_df["Artist Name"].astype('category')
obj_df.dtypes

obj_df["Artist Name_cat"] = obj_df["Artist Name"].cat.codes
obj_df.head()

obj_df.loc[obj_df['Artist Name'] == "Bruno Mars"]

,Artist Name,Track Name,Artist Name_cat,Track Name_cat
0,Bruno Mars,That's What I Like (feat. Gucci Mane),1182,11406
2742,Bruno Mars,Talking to the Moon,1182,11265
13085,Bruno Mars,Marry You,1182,7300
16996,Bruno Mars,Just The Way You Are,1182,6125

In [379]:
obj_df["Track Name"] = obj_df["Track Name"].astype('category')
obj_df.dtypes

obj_df["Track Name_cat"] = obj_df["Track Name"].cat.codes
obj_df.head()

obj_df.loc[obj_df['Track Name_cat'] == 0]

              Artist Name Track Name  Artist Name_cat  Track Name_cat
2089  The Gaslight Anthem       "45"             7716               0

In [383]:
obj_df.head()

,Artist Name,Track Name,Artist Name_cat,Track Name_cat
0,Bruno Mars,That's What I Like (feat. Gucci Mane),1182,11406
1,Boston,Hitch a Ride,1092,4988
2,The Raincoats,No Side to Fall In,7899,8144
3,Deno,Lingo (feat. J.I & Chunkz),1987,6753
4,Red Hot Chili Peppers,Nobody Weird Like Me - Remastered,6283,8167

In [381]:
df["Artist_Name_cat"] = obj_df["Artist Name_cat"]
df.head()

,Artist Name,Track Name,Popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_in min/ms,time_signature,Class,Artist_Name_cat
0,Bruno Mars,That's What I Like (feat. Gucci Mane),60.0,0.854,0.564,1.0,-4.964,1.0,0.0485,0.017100,NaN,0.0849,0.8990,134.071,234596.0,4.0,5.0,1182
1,Boston,Hitch a Ride,54.0,0.382,0.814,3.0,-7.230,1.0,0.0406,0.001100,0.004010,0.1010,0.5690,116.454,251733.0,4.0,10.0,1092
2,The Raincoats,No Side to Fall In,35.0,0.434,0.614,6.0,-8.334,1.0,0.0525,0.486000,0.000196,0.3940,0.7870,147.681,109667.0,4.0,6.0,7899
3,Deno,Lingo (feat. J.I & Chunkz),66.0,0.853,0.597,10.0,-6.528,0.0,0.0555,0.021200,NaN,0.1220,0.5690,107.033,173968.0,4.0,5.0,1987
4,Red Hot Chili Peppers,Nobody Weird Like Me - Remastered,53.0,0.167,0.975,2.0,-4.279,1.0,0.2160,0.000169,0.016100,0.1720,0.0918,199.060,229960.0,4.0,10.0,6283

In [385]:
df["Track_Name_cat"] = obj_df["Track Name_cat"]
df.head()

,Artist Name,Track Name,Popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_in min/ms,time_signature,Class,Artist_Name_cat,Track_Name_cat
0,Bruno Mars,That's What I Like (feat. Gucci Mane),60.0,0.854,0.564,1.0,-4.964,1.0,0.0485,0.017100,NaN,0.0849,0.8990,134.071,234596.0,4.0,5.0,1182,11406
1,Boston,Hitch a Ride,54.0,0.382,0.814,3.0,-7.230,1.0,0.0406,0.001100,0.004010,0.1010,0.5690,116.454,251733.0,4.0,10.0,1092,4988
2,The Raincoats,No Side to Fall In,35.0,0.434,0.614,6.0,-8.334,1.0,0.0525,0.486000,0.000196,0.3940,0.7870,147.681,109667.0,4.0,6.0,7899,8144
3,Deno,Lingo (feat. J.I & Chunkz),66.0,0.853,0.597,10.0,-6.528,0.0,0.0555,0.021200,NaN,0.1220,0.5690,107.033,173968.0,4.0,5.0,1987,6753
4,Red Hot Chili Peppers,Nobody Weird Like Me - Remastered,53.0,0.167,0.975,2.0,-4.279,1.0,0.2160,0.000169,0.016100,0.1720,0.0918,199.060,229960.0,4.0,10.0,6283,8167

In [389]:
df['Artist_Name_cat'] = df['Artist_Name_cat'].astype(float)
df['Track_Name_cat'] = df['Track_Name_cat'].astype(float)